<h1 class="text-center">Article Detail</h1>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-8" >
            <div class="card text-center mt-3">
                <h5 class="card-header">by Usama Malik</h5>
                <div class="card-body">
                    <h5 class="card-title"><%= @article.title %></h5>
                    <p class="card-text"><%= @article.description %></p>
                    <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-outline-info" %>
                    <%= link_to 'Delete', article_path(@article), method: :delete, class: "btn btn-outline-danger", data: {confirm: "Are you sure?"} %>
                </div>
            </div>
        </div>
    </div>
</div>
<p class="text-center mt-3">
    <%= link_to 'Back to articles list', articles_path, class: "btn btn-outline-info" %>
</p>